<%- include('layout', { title: 'Course Enrollment' , heading: 'Welcome to your new course!' , body: ` You have been
    successfully enrolled. You can now access all course materials on your dashboard. <table class="data-table">
    <tr>
        <td class="data-label">Course</td>
        <td><strong>${courseTitle}</strong></td>
    </tr>
    <tr>
        <td class="data-label">Faculty</td>
        <td>${facultyName}</td>
    </tr>
    <tr>
        <td class="data-label">Semester</td>
        <td>${semester}</td>
    </tr>
    </table>
    `
    }) %>